{% extends 'application/base.html' %}
{% load staticfiles %}
{% block title %}<title>Reset your Password </title>{% endblock %}
{% block body %}
     <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h3>Reset your password</h3>
                        <p>Enter your Email Address and we will send you a link to reset your password:</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
     </div>
{% endblock %}