{% extends 'application/base.html' %}
{% load staticfiles %}
{% block title%}
    {% if validlink %}
        <title>Change password for {{ form.user.username }}</title>
    {% else %}
        <title>Reset your Password</title>
    {% endif %}
{% endblock %}
{% block body %}
         <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                    {% if validlink %}
                        <h3>Change Password for @{{ form.user.username }}</h3>
                        <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block">Change Password</button>
                        </form>
                        {% else %}
                        <h3>Reset Your Password</h3>
                        <div class="alert alert-danger" role="alert">
                            It looks like you clicked on an invalid password reset link. Please try again.
                        </div>
                        <a href="/reset" class="btn  btn-secondary btn-block">Request another password reset link</a>
                    {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}