{% extends 'application/base.html' %}
{% load staticfiles %}
{% block title %}<title>Password Successfully Changed</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h3>Change Password</h3>
                        <div class="alert alert-success" role="alert">
                            <strong>Success!</strong> Your password has been changed!
                        </div>
                        <a href="/home" class="btn btn-primary btn-block">Return to Home Page</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}