{% extends 'application/base.html' %}
{% load staticfiles %}
{% block title%}<title>Update Profile</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                 <form  action="." method="POST" class="padding" enctype="multipart/form-data">
                     {% csrf_token %}{{ noodle_form.as_p }}
                        <div class="divider"></div>
                        {{ formset.management_form }}
                        {{ formset.as_p }}
                        <div class="col-lg-6 col-lg-offset-3" class="form-group">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="#" onclick="window.history.back(); return false" title="Cancel">Cancel</a>
                        </div>
                 </form>
            </div>
        </div>
    </div>
{% endblock %}