{% extends "application/base.html" %}
{% load staticfiles %}
{% block title %}<title>Sign In</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h2>Registration Form:</h2>
                        {#                      ATTENTION: don't forget to mention action inside our form#}
                        <form action="{% url 'application:register' %}" method="post" class="form-horizontal">{% csrf_token %}
                        {{ form.as_p }}
                            <a href="#"><button type="submit" class="btn btn-primary btn-block"> Sign In</button></a>
                        </form>
                        <div class="card-footer text-muted text-center">
                      Already have an account? <a href="/accounts/login">Log In</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}