{% extends 'application/base.html' %}
{% block title %}<title>{{ group.name }} Posts</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class=" main col-md-9">
                <div class="well">
                    <h3>Group Posts:
                    </h3>
                    <ul id="group-post" class="list-group">
                    {% for post in all_posts %}
                            <li class="list-group-item">
                                <a href="{% url 'application:post_detail' group.pk post.pk %}">{{ post.name }}</a>
                                <p><i>Posted by <a href="#">{{ post.posted_by.username}}</a></i></p>
                                <form action="{% url 'application:post-edit' group.pk post.pk %}" style="float: right">
                                    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                </form>
                                <form action="{% url 'application:post-delete' group.pk post.pk %}" method="post" style="float: right"> {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-sm">
                                             <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                </form>
                                <button id="post-likes" data-postid="{{ post.pk }}" class="btn btn-default btn-sm" type="button"><span id="show-likes" class="glyphicon glyphicon-thumbs-up"></span>
                                   <strong id="like_count_post">{{ post.likes}}</strong>
                                </button>
                            </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class=" sidebar col-md-3">
                <div class="well">
                    <p><b>Group name:</b>{{ group.name }}</p>
                    <p><b>Group Category:</b>{{ group.category }}</p>
                    <p><b>Group Description:</b> {{ group.description }}</p>
                    <p><b>Group Created by: </b><a href="{%  url 'application:users_profile' group.added_by.username %}"><i>{{ group.added_by}}</i></a></p>
                    <p><b>Creation date:</b>  {{ group.created }}
                        <b>Last Update:</b>  {{ group.updated }}
                    </p>
                    <a href="{% url 'application:post-add' group.pk %}"><span class="glyphicon glyphicon-plus"></span> Add a post</a></br>
                    <a href="{% url 'application:home' %}"><span class="glyphicon glyphicon-chevron-left"></span> Back to Home Page</a>
                </div>




                <div class="well " data-value = "{{ user }}" id="followers-group">
                    <h7>Group Followers:</h7></br>
                    <button id="followers-click" type="button" data-groupid = "{{ group.pk }}" class="follow-button btn btn-primary" style="float:right" ><span>
                        {% if request.user not in group.follow.all %}
                            Follow
                        {% else %}
                            Unfollow
                        {% endif %}
                    </span></button>

                    <h5 ><strong id="group_follow_count">{{ group.followers}}</strong> Followers </h5>
                    {% if user != group.added_by %}
                    {% for follow in group.follow.all %}
                            <p class="user-list"><a  href= "{% url 'application:users_profile' follow %}"><i>{{follow}}</i></a></p>
                    {% endfor %}

                    {% else %}
                        <i>You are Admin of this page!</i>
                    {% endif %}
                </div>
            </div>

        </div>
    {% include 'application/pagination.html' %}
    </div>
{% endblock %}


